body.page-template-about {

	section#content {
		padding: 50px 0;
		font-family: $oldstyle;		

		@include tablet-portrait {
			padding: 75px 0;


		}

		.content-wrapper {
			max-width: 720px;
			margin: 0 auto;
			padding: 0 0 100px 0;

			p {
				font-size: 1.25em;
				line-height: 1.375em;

				& + p {
					padding-top: 40px;
				}
			}

		}

		section#press {
			max-width: 720px;
			margin: 0 auto;

			&:before {
				display: block;
				content: '';
				height: 20px;
				width: 100%;
				background: url(images/rule.png) no-repeat center center;
				margin: 0 0 50px 0;	

				@include tablet-portrait {
					margin: 0 0 100px 0;
				}		
			}

			.press-header {
				img {
					margin: 0 auto;
					max-height: 32px;

					@include tablet-portrait {
						max-height: 50px;
					}

				}
				
			}

			.press-clippings-wrapper {
				padding: 50px 0 0 0;
				text-align: center;

				@include tablet-portrait {
					padding: 75px 0 0 0;
				}

				.clipping {
					& + .clipping {
						padding: 50px 0 0 0;
					}	

					a {
						color: $slate;
					}

					h4 {
						font-family: $highway-gothic-wide;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 1.125em;
						font-weight: bold;
						padding: 0 0 10px 0;
					}

					p {
						font-size: 1.25em;
						line-height: 1.375em;
						max-width: 360px;
						margin: 0 auto;

						a:hover {
							color: $red;
						}
					}


				}


			}
		}

	}


}