body.page-template-contact {

	section#contact-info {
		padding: 50px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 75px 0;
		}

		div + div {
			padding: 40px 0 0 0;
		}

		h4 {
			color: $red;
			text-transform: lowercase;
			font-family: $oldstyle-italic;
			font-size: 1.125em;
			padding: 0 0 10px 0;
		}

		p {
			text-transform: uppercase;
			font-family: $highway-gothic-narrow;
			font-size: 1.25em;
			line-height: 1.25em;
		}

		h5 {
			text-transform: uppercase;
			font-size: 0.8125em;
			padding: 10px 0 0 0;
		}

		a {
			color: $slate;

			&:hover {
				color: $red;
			}
		}

		.address {
			p {
				.pipe {
					display: none;
				}
			}
		}

		.email {
			h5 {
				padding: 0 0 5px 0;
			}

			p + h5 {
				padding-top: 25px;
			}

			a {
				text-transform: uppercase;
				font-size: 0.8125em;

				@include tablet-portrait {
					font-size: 1em;
				}
			}
		}
	}
}