body.page-template-covid-19 {
	border: 10px solid #ececec;

	@include tablet-portrait {
		background-size: 400px 400px;
		background-repeat: no-repeat;
		background-color: $white;
		background-position: 10px 10px;
		background-size: 200px 200px;
	}

	header {
		#toggle {
			display: none ;
		}

		.wrapper {
			justify-content: center;

		}



		nav {
			display: none !important;

			&.open {
				display: block !important;

				@include tablet-portrait {
					display: none !important
				}
			}
		}
	}


	section#banner {
		padding-top: 25px;

		@include tablet-portrait {
			padding-bottom: 50px;
		}
	}

	footer {
		.main-site-link {
			text-align: center;
			padding-top: 20px;

			a {
				font-weight: 400;
				font-size: 1.125rem;
			}
		}
	}

	section.message {
		padding-top: 25px;

		@include tablet-landscape {
			padding-top: 0;
		}

		.wrapper {
			max-width: 720px;
		}

		.outer-border {
			border: 1px solid $slate;
			padding: 5px;
		}

		.inner-border {
			border: 1px solid $slate;
			padding: 40px;
		}


		.copy {
			p {
				font-family: $oldstyle;
				font-size: 1rem;
				line-height: 1.5em;

				& + p {
					padding-top: 10px;
				}				
			}			
		}

		.signature {
			padding-top: 20px;
			max-width: 120px;
			text-align: left;
			margin-left: auto;
			margin-right: 25px;

			span {
				display: block;
				font-family: $oldstyle;
				font-size: 1rem;
				line-height: 1.375em;
				padding-top: 10px;
			}
		}


	}

	section.updated-hours {
		padding-top: 50px;
		text-align: center;

		@include tablet-portrait {
			padding-top: 100px;
		}

		.wrapper {
			max-width: 720px;
		}

		.headline {
			padding-bottom: 10px;
			h3 {
				font-family: $highway-gothic-wide;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 10px 0;
				font-size: 1.25em;
				display: flex;
				justify-content: center;

				&:before,
				&:after {
					content: '';
					display: block;
					width: 36px;
					height: 24px;
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 0 0;

					@include tablet-portrait {
						width: 52px;
						height: 36px;
					}
				}

				&:before {
					background-image: url(images/ornament-left.png);
					margin-right: 15px;
				}

				&:after {
					margin-left: 10px;
					background-image: url(images/ornament-right.png);
				}

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}
		}

		.hours {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
			}

			.entry {
				& + .entry {
					padding-top: 10px;

					@include tablet-portrait {
						padding-top: 0;
					}
				}

				p {
					font-family: $oldstyle;
					font-size: 1rem;
					line-height: 1.5em;
				}
			}
		}


	}

	section.details {
		.wrapper {
			max-width: 720px;
		}
		
		.detail {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			&:before {
				display: block;
				content: '';
				height: 20px;
				width: 100%;
				background: url(images/rule.png) no-repeat center center;
				margin: 50px 0;			
			}

			&:last-of-type {
				&:after {
					display: block;
					content: '';
					height: 20px;
					width: 100%;
					background: url(images/rule.png) no-repeat center center;
					margin: 50px 0;			
				}				
			}

			.photo {
				width: 100%;

				@include tablet-portrait {
					width: calc(40% - 25px);
				}
			}

			.info {
				width: 100%;
				padding: 25px 0 0 0;

				@include tablet-portrait {
					width: calc(60% - 25px);
					padding: 0;
				}

				.header {
					h3 {
						font-family: $highway-gothic-wide;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						padding: 0 0 10px 0;
						font-size: 1.25em;

						@include tablet-portrait {
							font-size: 1.75em;
						}
					}
				}

				.body {
					padding: 0 0 10px 0;

					@include tablet-portrait {
						padding: 0 0 20px 0;
					}

					p, li {
						font-family: $oldstyle;
						font-size: 1rem;
						line-height: 1.5em;

						& + p,
						& + ol {
							padding-top: 10px;
						}
					}

					ol {
						counter-reset: li;

						li {
							padding-left: 20px;
							position: relative;

							&:before {
								counter-increment: li;
								content: counter(li) ") ";
								position: absolute;
								top: 0;
								left: 0;
							}

							& + li {
								margin-top: 10px;
							}
						}

						& + p {
							padding-top: 10px;
						}
					}
				}

				.footer {
					.link {

						& + .link {
							padding-top: 15px;
						}

					}

					a {
						display: inline-block;
						text-transform: lowercase;
						font-family: $oldstyle-italic;
						font-size: 1.125em;
						font-weight: normal;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

		}


	}

	section.safety {
		.wrapper {
			max-width: 720px;
		}

		.headline {
			h3 {
				font-family: $highway-gothic-wide;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 10px 0;
				font-size: 1.25em;

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}
		}


		.copy {
			p, li {
				font-family: $oldstyle;
				font-size: 1rem;
				line-height: 1.5em;

				& + p,
				& + ol {
					padding-top: 10px;
				}				
			}			

			ol {
				counter-reset: li;

				li {
					padding-left: 20px;
					position: relative;

					&:before {
						counter-increment: li;
						content: counter(li) ") ";
						position: absolute;
						top: 0;
						left: 0;
					}

					& + li {
						margin-top: 10px;
					}
				}

				& + p {
					padding-top: 10px;
				}
			}
		}
	}

	.flower {
		padding-top: 100px;

		.photo {
			max-width: 200px;
			margin: 0 auto;

			@include tablet-portrait {
				max-width: 300px;
			}
		}
	}
}