footer {
	padding: 50px 0;

	.newsletter {
		padding: 0 0 25px 0;
		text-align: center;
	}

	.divider {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.bottle {
			max-width: 50px;
			padding-right: 20px;
			transform: translateY(-20px);
		}

		.rule {
			height: 20px;
			width: 100%;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.emblem {
			max-width: 60px;
			padding-left: 20px;
		}
	}


	.contact-info {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		text-transform: uppercase;
		transform: translateY(-20px);

		p {
			font-size: 0.875em;
			letter-spacing: 0.05em;
		}

		.neighborhood {
			padding: 0 0 10px 0;

			@include tablet-portrait {
				padding: 0 10px 0 0;
			}

			p {
				font-family: $oldstyle-italic;
				text-transform: none;
				letter-spacing: 0.02em;
				transform: translateY(-3px);
			}
		}

		.address {
			width: 100%;
			.pipe {
				display: none;
			}

			@include tablet-portrait {
				width: auto;

				br {
					display: none;
				}

				.pipe {
					display: inline-block;
				}

			}


		}

		.phone {
			width: 100%;
			padding: 20px 0 0 0;

			@include tablet-portrait {
				width: auto;
				padding: 0;
				display: flex;

				&:before {
					content: '|';
					display: inline-block;
					padding: 0 5px;
				}
			}
		}

		.email {
			padding: 20px 0 0 0;
			width: 100%;

			@include tablet-portrait {
				padding: 10px 0 0 0;
			}

			a {
				color: $slate;

				&:hover {
					color: $red;
				}
			}
		}
	}
	

}