body.page-template-gallery {

	section#gallery {
		padding: 0 0 50px 0;

		@include tablet-portrait {
			padding: 0 0 75px 0;
		}

		.caption {
			padding: 50px 0 0 0;
			text-align: center;

			p {
				font-family: $oldstyle;		
				font-size: 1.25em;
				line-height: 1.375em;

				& + p {
					padding-top: 20px;
				}

				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.jp-carousel-info,
	.jp-carousel-left-column-wrapper {
		display: none;
	}

	.jp-carousel-overlay {
		opacity: 0.98 !important;
	}

	.jp-carousel-close-hint span {
		font-size: 48px !important;
		height: 48px;
	}

}