body.page-template-happenings {

	section#page-header {
		.image-wrapper {
			max-width: 300px;

			@include tablet-portrait {
				max-width: 720px;
			}
		}
	}

	section#events {
		@include tablet-portrait {
			padding: 2rem 0;

		}

		.wrapper {
			max-width: 960px;
		}
		
		.event {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& + .event {
				&:before {
					display: block;
					content: '';
					height: 20px;
					width: 100%;
					background: url(images/rule.png) no-repeat center center;
					margin: 50px 0;			
				}
			}

			.photo {
				width: 100%;

				@include tablet-portrait {
					width: 30%;
				}
			}

			.info {
				width: 100%;
				padding: 25px 0 0 0;

				@include tablet-portrait {
					width: 65%;
					padding: 0;
				}

				.header {
					h3 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 0.875em;
						padding: 0 0 10px 0;

						@include tablet-portrait {
							font-size: 1em;
						}
					}

					h2 {
						font-family: $highway-gothic-wide;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						padding: 0 0 10px 0;
						font-size: 1.5em;

						@include tablet-portrait {
							font-size: 1.75em;
						}
					}

					h4 {
						font-family: $highway-gothic-wide;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						padding: 0 0 5px 0;
						font-size: 1em;

						@include tablet-portrait {
							font-size: 1.25em;
						}
					}
				}

				.body {
					padding: 0 0 10px 0;

					@include tablet-portrait {
						padding: 0 0 20px 0;
					}

					p {
						font-family: $oldstyle;
						font-size: 1.25em;
						line-height: 1.375em;

						& + p {
							padding-top: 20px;
						}
					}
				}

				.footer {
					h4 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 0.875em;
						padding: 0 0 15px 0;

						@include tablet-portrait {
							font-size: 1em;
						}
					}

					.link {
						& + .link {
							padding-top: 0.75rem;
						}
					}

					a {
						display: inline-block;
						text-transform: lowercase;
						font-family: $oldstyle-italic;
						font-size: 1.125em;
						font-weight: bold;
					}
				}
			}

		}


	}



}