body.page-template-homepage {



	section#hero {

		.info {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			text-align: center;
			align-items: center;
			padding: 0 0 25px 0;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			h4 {
				font-family: $oldstyle-italic;
				font-weight: bold;
				text-transform: none;
				letter-spacing: 0.02;
				padding: 0 0 15px 0;
				font-size: 0.875em;
				display: none;

				@include tablet-portrait {
					display: block;
				}
			}

			p {
				font-size: 0.875rem;
				line-height: 1.25em;
				display: none;

				@include tablet-portrait {
					display: block;
				}

				&.mobile {
					display: block;
				}
			}

			.hours {
				width: 100%;

				@include tablet-portrait {
					.daily-hours {
						padding: 0 0 15px 0;
					}
				}
			}

			.contact-info {
				width: 100%;

				@include tablet-portrait {
					padding: 25px 0 0 0;

					.address {
						padding: 0 0 15px 0;

						.pipe {
							display: none;
						}
					}

					.phone {
						padding: 10px 0 0 0;
					}
				}

			}

			@include tablet-portrait {
				position: absolute;
				top: 16.5835%;
				left: 23.75%;
				width: 14.3333%;
				height: 44.7630%;
				text-align: center;
				flex-direction: column;
				justify-content: center;
				padding: 0;


				p {
					font-size: 0.75em;
				}

				.hours {
					padding-bottom: 15%;
				}

				.contact-info {
					padding: 15% 0 0 0;
					display: block;

					.address {
						padding: 0;
					}
				}
			}

			@include tablet-landscape {
				p {
					font-size: 0.875em;
				}
			}

			@include desktop {
				left: 22.75%;
			}
		}

	}

	section#features {
		padding: 1rem 0 2rem 0;

		@include mobile-landscape {
			padding: 1.25rem 0 2rem 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.feature {
			width: calc( (100% - 20px) / 3 );

			@include mobile-landscape {
				width: calc( (100% - 40px) / 3 );
			}

			.info {
				padding: 20px 0 0 0;
				text-align: center;

				p {
					font-family: $oldstyle;
					font-size: 0.875em;
					line-height: 1.375em;

					@include tablet-portrait {
						font-size: 1em;
					}
				}
			}
		}
	}


}