body.page-template-host-an-event {

	section#page-header {
		.image-wrapper {
			max-width: 300px;

			@include tablet-portrait {
				max-width: 720px;
			}
		}
	}

	section#content {
		padding: 3rem 0;
		text-align: center;

		@include tablet-portrait {
			padding: 5rem 0;
		}
		
		.wrapper {
			max-width: 780px;
			
			img {
				margin: 0 auto;
			}
		}

		.headline {
			padding: 0 0 50px 0;
			max-width: 700px;
			margin: 0 auto;
		}

		.description {
			&:before {
				display: block;
				content: '';
				height: 20px;
				width: 100%;
				background: url(images/rule.png) no-repeat center center;
				margin: 0 0 20px 0;			
			}

			&:after {
				display: block;
				content: '';
				height: 20px;
				width: 100%;
				background: url(images/rule.png) no-repeat center center;
				margin: 20px 0 0 0;			
			}


			p {
				font-family: $oldstyle;
				font-size: 1.1875em;
				line-height: 1.375em;
			}
		}

		.note {
			padding: 50px 0;

			margin: 0 auto;
			max-width: 640px;

			p {
				font-family: $oldstyle-italic;
				font-size: 1.125em;
				line-height: 1.375em;

				a {
					color: $slate;

					&:hover {
						color: $red;
					}
				}
			}
		}

	}

	.cta {
		padding-top: 4rem;
		text-align: center;

		a {
			display: block;
			margin-bottom: 2rem;

			&:hover {
				text-decoration: underline;
			}

			@include tablet-portrait {
				margin-bottom: 0;
			}
		}

		@include tablet-portrait {
			.row {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				& + .row {
					padding-top: 2rem;
				}
	
				a {
					display: inline-block;
	
					& + a {
						margin-left: 1rem;
					}
				}
			}

		}

	}

}