body.page-template-menu {
    #page-header {
        @include tablet-portrait {
            padding-bottom: 2rem;
        }
    }

    .menu-cta {
        text-align: center;
        padding: 0 0 2rem 0;

        &__grid {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }

    .menu-nav {
        padding-bottom: 0.5rem;

        nav {
            display: flex;
            justify-content: center;

            a {
                font-family: $oldstyle;
                text-transform: lowercase;
                display: block;
                color: $slate;

                &:hover {
                    color: $red;
                }

                & + a {
                    &:before {
                        content: "|";
                        display: inline-block;
                        padding: 0 15px;
                    }

                    &:hover {
                        &:before {
                            color: $slate;
                        }
                    }
                }
            }
        }
    }

    section.menu {
        & + section.menu {
            padding: 50px 0 0 0;
        }

        .mobile {
            display: block;

            @include tablet-portrait {
                display: none;
            }
        }

        .desktop {
            display: none;

            @include tablet-portrait {
                display: block;
            }
        }
    }
}
