body.page-template-wine-club {

	section#page-header {
		.image-wrapper {
			max-width: 300px;

			@include tablet-portrait {
				max-width: 720px;
			}
		}
	}

	section#content {
		padding: 75px 0;
		text-align: center;

		.thirsty-club-headline {
			max-width: 540px;
			margin: 0 auto;

			img {
				margin: 0 auto;
			}
		}

		.thirsty-club-description {
			font-family: $oldstyle;
			font-size: 1.1875em;
			line-height: 1.375em;
			max-width: 960px;
			margin: 0 auto;
			padding: 50px 0 75px 0;

			.cta {
				padding-top: 50px;

				a {
					font-size: 1.25rem;
				}
			}
		}
	}

	.perks {
		.desktop {
			display: none;

			@include tablet-portrait {
				display: block;
			}
		}

		.mobile {
			display: block;

			@include tablet-portrait {
				display: none;
			}
		}

		img {
			margin: 0 auto;
		}
	}
}