/*

    Theme Name: Bottlehouse
    Theme URI: http://bottlehouseseattle.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 2.0 of Bottlehouse
    Version: 2.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: "Highway Gothic Wide";
  src: url("fonts/highwaygothicwide.woff2") format("woff2"), url("fonts/highwaygothicwide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Highway Gothic Narrow";
  src: url("fonts/HWYGNRRW.eot?") format("eot"), url("fonts/HWYGNRRW.woff") format("woff"), url("fonts/HWYGNRRW.ttf") format("truetype"), url("fonts/HWYGNRRW.svg#highwaygothicnarrow") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OldStyle";
  src: url("fonts/OLDSH___.eot?") format("eot"), url("fonts/OLDSH___.woff") format("woff"), url("fonts/OLDSH___.ttf") format("truetype"), url("fonts/OLDSH___.svg#OldStyle1HPLHS") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oldstyle Italic";
  src: url("fonts/OLDSIH__.eot?") format("eot"), url("fonts/OLDSIH__.woff") format("woff"), url("fonts/OLDSIH__.ttf") format("truetype"), url("fonts/OLDSIH__.svg#OldstyleItalicHPLHS") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Media Queries
----------------------------------*/
/* HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div,
article,
section,
header,
footer,
nav,
figure,
li {
  position: relative;
}

/* Selection  */
::-moz-selection {
  background: #d2232a;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #d2232a;
  color: #fff;
  text-shadow: none;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
input,
textarea {
  -webkit-font-smoothing: antialiased;
}

body {
  text-rendering: optimizeLegibility;
}

body,
input,
textarea,
button {
  color: #231e21;
  font: 400 100%/1 "Highway Gothic Narrow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Highway Gothic Narrow", sans-serif;
  font-weight: normal;
}

a {
  color: #d2232a;
  transition: all 0.3s ease-in-out;
}

.address p .th {
  font-size: 0.6125em;
  display: inline-block;
  transform: translateY(-5px);
}
.address p .pipe {
  display: inline-block;
}

.cta a {
  text-transform: lowercase;
  font-family: "Oldstyle Italic", serif;
  font-weight: bold;
  font-size: 1.25em;
}
.cta a:before {
  content: "[ ";
}
.cta a:after {
  content: " ]";
}

.phone a,
.email a {
  color: #231e21;
}

.resy-link span[role=button] {
  background: unset !important;
  color: #d2232a !important;
  width: unset !important;
  height: unset !important;
}
.resy-link span[role=button]::before {
  content: "[ reservations ]";
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Oldstyle Italic", serif;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .resy-link span[role=button]::before {
    font-size: 1.25rem;
  }
}
.resy-link iframe {
  position: absolute;
}

body {
  background: #fff;
  border: 10px solid #f7f3e7;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in;
}
@media screen and (min-width: 1250px) {
  .wrapper {
    padding: 0;
  }
}

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(247, 243, 231, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
}
.modal__off {
  display: none;
}
.modal__body {
  max-height: 90vh;
  overflow-y: scroll;
  background: #fff;
  max-width: 48rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.modal__close {
  display: block;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border-radius: 50%;
}

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  padding: 1.5rem 0;
}
@media screen and (min-width: 568px) {
  .site-header {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 768px) {
  .site-header {
    padding: 3rem 0;
  }
}
.site-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site-header .order-online {
  display: flex;
  justify-content: center;
  gap: 2rem;
  order: 3;
  width: 100%;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .site-header .order-online {
    order: 2;
    width: auto;
    flex: 1;
    padding-top: 0;
  }
}
.site-header .order-online .cta a {
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .site-header .order-online .cta a {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .site-header .logo {
    display: flex;
    justify-content: center;
    order: 1;
  }
}
.site-header .logo a {
  display: block;
}
.site-header .logo .mobile {
  max-width: 15rem;
}
@media screen and (min-width: 568px) {
  .site-header .logo .mobile {
    display: none;
  }
}
.site-header .logo .desktop {
  display: none;
}
.site-header .logo .desktop a {
  max-width: 18rem;
}
@media screen and (min-width: 568px) {
  .site-header .logo .desktop {
    display: block;
  }
}
.site-header #toggle {
  width: 40px;
  cursor: pointer;
  padding: 8px 0;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  z-index: 10001;
}
@media screen and (min-width: 768px) {
  .site-header #toggle {
    display: none;
  }
}
.site-header #toggle .patty {
  width: 40px;
  height: 2px;
  background: #231e21;
  border-radius: 3px;
  transition: all 0.3s;
  margin-left: auto;
}
.site-header #toggle .patty:after, .site-header #toggle .patty:before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #231e21;
  position: absolute;
  z-index: 1;
  transition: all 0.3s;
  border-radius: 3px;
}
.site-header #toggle .patty:before {
  top: -8px;
}
.site-header #toggle .patty:after {
  top: 8px;
}
.site-header.open {
  z-index: 10001;
}
.site-header.open #toggle .patty {
  background: none;
}
.site-header.open #toggle .patty:after {
  top: 0;
  transform: rotate(45deg);
}
.site-header.open #toggle .patty:before {
  top: 0;
  transform: rotate(-45deg);
}
.site-header nav {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease-in;
  order: 4;
}
.site-header nav > a {
  display: block;
  padding: 15px 0;
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  font-size: 0.8125em;
  letter-spacing: 0.05em;
  color: #231e21;
}
.site-header nav > a:hover {
  color: #d2232a;
}
@media screen and (min-width: 768px) {
  .site-header nav {
    max-height: auto;
    overflow: visible;
    display: flex !important;
    justify-content: center;
    padding: 2rem 0 0 0;
  }
  .site-header nav a {
    font-size: 0.75em;
    padding: 0 15px;
  }
  .site-header nav a:nth-of-type(2) {
    padding-left: 0;
  }
  .site-header nav a:last-of-type {
    padding-right: 0;
  }
  .site-header nav a.nav-home {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .site-header nav a {
    font-size: 0.8125em;
    padding: 0 20px;
  }
}
.site-header nav.open {
  display: block;
  max-height: 600px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .site-header nav.open {
    margin: 0;
    padding-top: 3rem;
  }
}
.site-header .social.mobile {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .site-header .social.mobile {
    display: none;
  }
}
.site-header .social.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-header .social.desktop {
    display: flex !important;
    order: 3;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .social.desktop {
    width: 18rem;
    justify-content: flex-end;
  }
}
.site-header .social a {
  display: block;
  max-width: 1.25rem;
}
.site-header .social a + a {
  margin-left: 1.25rem;
}

section#banner {
  padding: 0 0 0.5rem 0;
}
section#banner .banner-entry + .banner-entry {
  padding-top: 2px;
}
section#banner a {
  display: block;
}
section#banner .mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  section#banner .mobile {
    display: none;
  }
}
section#banner .desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  section#banner .desktop {
    display: block;
  }
}

body.home .nav-home,
body.page-template-about .nav-about,
body.page-template-menu .nav-menu,
body.page-template-happenings .nav-happenings,
body.page-template-host-an-event .nav-host-an-event,
body.page-template-gallery .nav-gallery,
body.page-template-wine-club .nav-wine-club,
body.page-template-contact .nav-contact {
  color: #d2232a;
}

footer {
  padding: 50px 0;
}
footer .newsletter {
  padding: 0 0 25px 0;
  text-align: center;
}
footer .divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .divider .bottle {
  max-width: 50px;
  padding-right: 20px;
  transform: translateY(-20px);
}
footer .divider .rule {
  height: 20px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
footer .divider .emblem {
  max-width: 60px;
  padding-left: 20px;
}
footer .contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-20px);
}
footer .contact-info p {
  font-size: 0.875em;
  letter-spacing: 0.05em;
}
footer .contact-info .neighborhood {
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  footer .contact-info .neighborhood {
    padding: 0 10px 0 0;
  }
}
footer .contact-info .neighborhood p {
  font-family: "Oldstyle Italic", serif;
  text-transform: none;
  letter-spacing: 0.02em;
  transform: translateY(-3px);
}
footer .contact-info .address {
  width: 100%;
}
footer .contact-info .address .pipe {
  display: none;
}
@media screen and (min-width: 768px) {
  footer .contact-info .address {
    width: auto;
  }
  footer .contact-info .address br {
    display: none;
  }
  footer .contact-info .address .pipe {
    display: inline-block;
  }
}
footer .contact-info .phone {
  width: 100%;
  padding: 20px 0 0 0;
}
@media screen and (min-width: 768px) {
  footer .contact-info .phone {
    width: auto;
    padding: 0;
    display: flex;
  }
  footer .contact-info .phone:before {
    content: "|";
    display: inline-block;
    padding: 0 5px;
  }
}
footer .contact-info .email {
  padding: 20px 0 0 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer .contact-info .email {
    padding: 10px 0 0 0;
  }
}
footer .contact-info .email a {
  color: #231e21;
}
footer .contact-info .email a:hover {
  color: #d2232a;
}

/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
section#page-header {
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  section#page-header {
    padding: 3rem 0;
  }
}
section#page-header .wrapper {
  display: flex;
  justify-content: center;
}
section#page-header .image-wrapper {
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  section#page-header .image-wrapper {
    max-width: 100%;
  }
}

section#gallery-header .gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: repeat(3, minmax(50px, 250px));
  grid-template-areas: "photo-1" "photo-2" "photo-3";
}
@media screen and (min-width: 568px) {
  section#gallery-header .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, 300px) minmax(50px, 225px);
    grid-template-areas: "photo-1 photo-1" "photo-2 photo-3";
  }
  section#gallery-header .gallery .image-1 {
    grid-row: span 2;
  }
}
@media screen and (min-width: 1024px) {
  section#gallery-header .gallery {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(50px, 300px));
    grid-template-areas: "photo-1 photo-2" "photo-1 photo-3";
  }
  section#gallery-header .gallery .image-1 {
    grid-row: span 1;
  }
  section#gallery-header .gallery.right {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "photo-2 photo-1" "photo-3 photo-1";
  }
}
section#gallery-header .gallery .image-1 {
  grid-area: photo-1;
}
section#gallery-header .gallery .image-2 {
  grid-area: photo-2;
}
section#gallery-header .gallery .image-3 {
  grid-area: photo-3;
}

section#newsletter .wrapper {
  max-width: 640px;
}
section#newsletter .header {
  text-align: center;
}
section#newsletter .header h3 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.125em;
  font-weight: bold;
  padding: 0 0 10px 0;
}
section#newsletter .header p {
  font-family: "Oldstyle", serif;
  font-size: 1em;
  line-height: 1.125em;
}
section#newsletter .header p a {
  color: #d2232a;
}
section#newsletter .header p a:hover {
  text-decoration: underline;
}
section#newsletter .cta {
  text-align: center;
}

/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.page-template-homepage section#hero .info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 0 0 25px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body.page-template-homepage section#hero .info h4 {
  font-family: "Oldstyle Italic", serif;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0.02;
  padding: 0 0 15px 0;
  font-size: 0.875em;
  display: none;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section#hero .info h4 {
    display: block;
  }
}
body.page-template-homepage section#hero .info p {
  font-size: 0.875rem;
  line-height: 1.25em;
  display: none;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section#hero .info p {
    display: block;
  }
}
body.page-template-homepage section#hero .info p.mobile {
  display: block;
}
body.page-template-homepage section#hero .info .hours {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section#hero .info .hours .daily-hours {
    padding: 0 0 15px 0;
  }
}
body.page-template-homepage section#hero .info .contact-info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section#hero .info .contact-info {
    padding: 25px 0 0 0;
  }
  body.page-template-homepage section#hero .info .contact-info .address {
    padding: 0 0 15px 0;
  }
  body.page-template-homepage section#hero .info .contact-info .address .pipe {
    display: none;
  }
  body.page-template-homepage section#hero .info .contact-info .phone {
    padding: 10px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section#hero .info {
    position: absolute;
    top: 16.5835%;
    left: 23.75%;
    width: 14.3333%;
    height: 44.763%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  body.page-template-homepage section#hero .info p {
    font-size: 0.75em;
  }
  body.page-template-homepage section#hero .info .hours {
    padding-bottom: 15%;
  }
  body.page-template-homepage section#hero .info .contact-info {
    padding: 15% 0 0 0;
    display: block;
  }
  body.page-template-homepage section#hero .info .contact-info .address {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  body.page-template-homepage section#hero .info p {
    font-size: 0.875em;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-homepage section#hero .info {
    left: 22.75%;
  }
}
body.page-template-homepage section#features {
  padding: 1rem 0 2rem 0;
}
@media screen and (min-width: 568px) {
  body.page-template-homepage section#features {
    padding: 1.25rem 0 2rem 0;
  }
}
body.page-template-homepage section#features .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.page-template-homepage section#features .feature {
  width: calc((100% - 20px) / 3);
}
@media screen and (min-width: 568px) {
  body.page-template-homepage section#features .feature {
    width: calc((100% - 40px) / 3);
  }
}
body.page-template-homepage section#features .feature .info {
  padding: 20px 0 0 0;
  text-align: center;
}
body.page-template-homepage section#features .feature .info p {
  font-family: "Oldstyle", serif;
  font-size: 0.875em;
  line-height: 1.375em;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section#features .feature .info p {
    font-size: 1em;
  }
}

body.page-template-about section#content {
  padding: 50px 0;
  font-family: "Oldstyle", serif;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#content {
    padding: 75px 0;
  }
}
body.page-template-about section#content .content-wrapper {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 0 100px 0;
}
body.page-template-about section#content .content-wrapper p {
  font-size: 1.25em;
  line-height: 1.375em;
}
body.page-template-about section#content .content-wrapper p + p {
  padding-top: 40px;
}
body.page-template-about section#content section#press {
  max-width: 720px;
  margin: 0 auto;
}
body.page-template-about section#content section#press:before {
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  background: url(images/rule.png) no-repeat center center;
  margin: 0 0 50px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#content section#press:before {
    margin: 0 0 100px 0;
  }
}
body.page-template-about section#content section#press .press-header img {
  margin: 0 auto;
  max-height: 32px;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#content section#press .press-header img {
    max-height: 50px;
  }
}
body.page-template-about section#content section#press .press-clippings-wrapper {
  padding: 50px 0 0 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#content section#press .press-clippings-wrapper {
    padding: 75px 0 0 0;
  }
}
body.page-template-about section#content section#press .press-clippings-wrapper .clipping + .clipping {
  padding: 50px 0 0 0;
}
body.page-template-about section#content section#press .press-clippings-wrapper .clipping a {
  color: #231e21;
}
body.page-template-about section#content section#press .press-clippings-wrapper .clipping h4 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.125em;
  font-weight: bold;
  padding: 0 0 10px 0;
}
body.page-template-about section#content section#press .press-clippings-wrapper .clipping p {
  font-size: 1.25em;
  line-height: 1.375em;
  max-width: 360px;
  margin: 0 auto;
}
body.page-template-about section#content section#press .press-clippings-wrapper .clipping p a:hover {
  color: #d2232a;
}

@media screen and (min-width: 768px) {
  body.page-template-menu #page-header {
    padding-bottom: 2rem;
  }
}
body.page-template-menu .menu-cta {
  text-align: center;
  padding: 0 0 2rem 0;
}
body.page-template-menu .menu-cta__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body.page-template-menu .menu-nav {
  padding-bottom: 0.5rem;
}
body.page-template-menu .menu-nav nav {
  display: flex;
  justify-content: center;
}
body.page-template-menu .menu-nav nav a {
  font-family: "Oldstyle", serif;
  text-transform: lowercase;
  display: block;
  color: #231e21;
}
body.page-template-menu .menu-nav nav a:hover {
  color: #d2232a;
}
body.page-template-menu .menu-nav nav a + a:before {
  content: "|";
  display: inline-block;
  padding: 0 15px;
}
body.page-template-menu .menu-nav nav a + a:hover:before {
  color: #231e21;
}
body.page-template-menu section.menu + section.menu {
  padding: 50px 0 0 0;
}
body.page-template-menu section.menu .mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  body.page-template-menu section.menu .mobile {
    display: none;
  }
}
body.page-template-menu section.menu .desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  body.page-template-menu section.menu .desktop {
    display: block;
  }
}

body.page-template-happenings section#page-header .image-wrapper {
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#page-header .image-wrapper {
    max-width: 720px;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events {
    padding: 2rem 0;
  }
}
body.page-template-happenings section#events .wrapper {
  max-width: 960px;
}
body.page-template-happenings section#events .event {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body.page-template-happenings section#events .event + .event:before {
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  background: url(images/rule.png) no-repeat center center;
  margin: 50px 0;
}
body.page-template-happenings section#events .event .photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .photo {
    width: 30%;
  }
}
body.page-template-happenings section#events .event .info {
  width: 100%;
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .info {
    width: 65%;
    padding: 0;
  }
}
body.page-template-happenings section#events .event .info .header h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875em;
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .info .header h3 {
    font-size: 1em;
  }
}
body.page-template-happenings section#events .event .info .header h2 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 10px 0;
  font-size: 1.5em;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .info .header h2 {
    font-size: 1.75em;
  }
}
body.page-template-happenings section#events .event .info .header h4 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 5px 0;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .info .header h4 {
    font-size: 1.25em;
  }
}
body.page-template-happenings section#events .event .info .body {
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .info .body {
    padding: 0 0 20px 0;
  }
}
body.page-template-happenings section#events .event .info .body p {
  font-family: "Oldstyle", serif;
  font-size: 1.25em;
  line-height: 1.375em;
}
body.page-template-happenings section#events .event .info .body p + p {
  padding-top: 20px;
}
body.page-template-happenings section#events .event .info .footer h4 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875em;
  padding: 0 0 15px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-happenings section#events .event .info .footer h4 {
    font-size: 1em;
  }
}
body.page-template-happenings section#events .event .info .footer .link + .link {
  padding-top: 0.75rem;
}
body.page-template-happenings section#events .event .info .footer a {
  display: inline-block;
  text-transform: lowercase;
  font-family: "Oldstyle Italic", serif;
  font-size: 1.125em;
  font-weight: bold;
}

body.page-template-host-an-event section#page-header .image-wrapper {
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  body.page-template-host-an-event section#page-header .image-wrapper {
    max-width: 720px;
  }
}
body.page-template-host-an-event section#content {
  padding: 3rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.page-template-host-an-event section#content {
    padding: 5rem 0;
  }
}
body.page-template-host-an-event section#content .wrapper {
  max-width: 780px;
}
body.page-template-host-an-event section#content .wrapper img {
  margin: 0 auto;
}
body.page-template-host-an-event section#content .headline {
  padding: 0 0 50px 0;
  max-width: 700px;
  margin: 0 auto;
}
body.page-template-host-an-event section#content .description:before {
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  background: url(images/rule.png) no-repeat center center;
  margin: 0 0 20px 0;
}
body.page-template-host-an-event section#content .description:after {
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  background: url(images/rule.png) no-repeat center center;
  margin: 20px 0 0 0;
}
body.page-template-host-an-event section#content .description p {
  font-family: "Oldstyle", serif;
  font-size: 1.1875em;
  line-height: 1.375em;
}
body.page-template-host-an-event section#content .note {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 640px;
}
body.page-template-host-an-event section#content .note p {
  font-family: "Oldstyle Italic", serif;
  font-size: 1.125em;
  line-height: 1.375em;
}
body.page-template-host-an-event section#content .note p a {
  color: #231e21;
}
body.page-template-host-an-event section#content .note p a:hover {
  color: #d2232a;
}
body.page-template-host-an-event .cta {
  padding-top: 4rem;
  text-align: center;
}
body.page-template-host-an-event .cta a {
  display: block;
  margin-bottom: 2rem;
}
body.page-template-host-an-event .cta a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  body.page-template-host-an-event .cta a {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-host-an-event .cta .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body.page-template-host-an-event .cta .row + .row {
    padding-top: 2rem;
  }
  body.page-template-host-an-event .cta .row a {
    display: inline-block;
  }
  body.page-template-host-an-event .cta .row a + a {
    margin-left: 1rem;
  }
}

body.page-template-gallery section#gallery {
  padding: 0 0 50px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-gallery section#gallery {
    padding: 0 0 75px 0;
  }
}
body.page-template-gallery section#gallery .caption {
  padding: 50px 0 0 0;
  text-align: center;
}
body.page-template-gallery section#gallery .caption p {
  font-family: "Oldstyle", serif;
  font-size: 1.25em;
  line-height: 1.375em;
}
body.page-template-gallery section#gallery .caption p + p {
  padding-top: 20px;
}
body.page-template-gallery section#gallery .caption p a:hover {
  text-decoration: underline;
}
body.page-template-gallery .jp-carousel-info,
body.page-template-gallery .jp-carousel-left-column-wrapper {
  display: none;
}
body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important;
}
body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px;
}

body.page-template-wine-club section#page-header .image-wrapper {
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  body.page-template-wine-club section#page-header .image-wrapper {
    max-width: 720px;
  }
}
body.page-template-wine-club section#content {
  padding: 75px 0;
  text-align: center;
}
body.page-template-wine-club section#content .thirsty-club-headline {
  max-width: 540px;
  margin: 0 auto;
}
body.page-template-wine-club section#content .thirsty-club-headline img {
  margin: 0 auto;
}
body.page-template-wine-club section#content .thirsty-club-description {
  font-family: "Oldstyle", serif;
  font-size: 1.1875em;
  line-height: 1.375em;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0 75px 0;
}
body.page-template-wine-club section#content .thirsty-club-description .cta {
  padding-top: 50px;
}
body.page-template-wine-club section#content .thirsty-club-description .cta a {
  font-size: 1.25rem;
}
body.page-template-wine-club .perks .desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  body.page-template-wine-club .perks .desktop {
    display: block;
  }
}
body.page-template-wine-club .perks .mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  body.page-template-wine-club .perks .mobile {
    display: none;
  }
}
body.page-template-wine-club .perks img {
  margin: 0 auto;
}

body.page-template-contact section#contact-info {
  padding: 50px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.page-template-contact section#contact-info {
    padding: 75px 0;
  }
}
body.page-template-contact section#contact-info div + div {
  padding: 40px 0 0 0;
}
body.page-template-contact section#contact-info h4 {
  color: #d2232a;
  text-transform: lowercase;
  font-family: "Oldstyle Italic", serif;
  font-size: 1.125em;
  padding: 0 0 10px 0;
}
body.page-template-contact section#contact-info p {
  text-transform: uppercase;
  font-family: "Highway Gothic Narrow", sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
}
body.page-template-contact section#contact-info h5 {
  text-transform: uppercase;
  font-size: 0.8125em;
  padding: 10px 0 0 0;
}
body.page-template-contact section#contact-info a {
  color: #231e21;
}
body.page-template-contact section#contact-info a:hover {
  color: #d2232a;
}
body.page-template-contact section#contact-info .address p .pipe {
  display: none;
}
body.page-template-contact section#contact-info .email h5 {
  padding: 0 0 5px 0;
}
body.page-template-contact section#contact-info .email p + h5 {
  padding-top: 25px;
}
body.page-template-contact section#contact-info .email a {
  text-transform: uppercase;
  font-size: 0.8125em;
}
@media screen and (min-width: 768px) {
  body.page-template-contact section#contact-info .email a {
    font-size: 1em;
  }
}

body.page-template-covid-19 {
  border: 10px solid #ececec;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 {
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 10px 10px;
    background-size: 200px 200px;
  }
}
body.page-template-covid-19 header #toggle {
  display: none;
}
body.page-template-covid-19 header .wrapper {
  justify-content: center;
}
body.page-template-covid-19 header nav {
  display: none !important;
}
body.page-template-covid-19 header nav.open {
  display: block !important;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 header nav.open {
    display: none !important;
  }
}
body.page-template-covid-19 section#banner {
  padding-top: 25px;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section#banner {
    padding-bottom: 50px;
  }
}
body.page-template-covid-19 footer .main-site-link {
  text-align: center;
  padding-top: 20px;
}
body.page-template-covid-19 footer .main-site-link a {
  font-weight: 400;
  font-size: 1.125rem;
}
body.page-template-covid-19 section.message {
  padding-top: 25px;
}
@media screen and (min-width: 1024px) {
  body.page-template-covid-19 section.message {
    padding-top: 0;
  }
}
body.page-template-covid-19 section.message .wrapper {
  max-width: 720px;
}
body.page-template-covid-19 section.message .outer-border {
  border: 1px solid #231e21;
  padding: 5px;
}
body.page-template-covid-19 section.message .inner-border {
  border: 1px solid #231e21;
  padding: 40px;
}
body.page-template-covid-19 section.message .copy p {
  font-family: "Oldstyle", serif;
  font-size: 1rem;
  line-height: 1.5em;
}
body.page-template-covid-19 section.message .copy p + p {
  padding-top: 10px;
}
body.page-template-covid-19 section.message .signature {
  padding-top: 20px;
  max-width: 120px;
  text-align: left;
  margin-left: auto;
  margin-right: 25px;
}
body.page-template-covid-19 section.message .signature span {
  display: block;
  font-family: "Oldstyle", serif;
  font-size: 1rem;
  line-height: 1.375em;
  padding-top: 10px;
}
body.page-template-covid-19 section.updated-hours {
  padding-top: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.updated-hours {
    padding-top: 100px;
  }
}
body.page-template-covid-19 section.updated-hours .wrapper {
  max-width: 720px;
}
body.page-template-covid-19 section.updated-hours .headline {
  padding-bottom: 10px;
}
body.page-template-covid-19 section.updated-hours .headline h3 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 10px 0;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
}
body.page-template-covid-19 section.updated-hours .headline h3:before, body.page-template-covid-19 section.updated-hours .headline h3:after {
  content: "";
  display: block;
  width: 36px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.updated-hours .headline h3:before, body.page-template-covid-19 section.updated-hours .headline h3:after {
    width: 52px;
    height: 36px;
  }
}
body.page-template-covid-19 section.updated-hours .headline h3:before {
  background-image: url(images/ornament-left.png);
  margin-right: 15px;
}
body.page-template-covid-19 section.updated-hours .headline h3:after {
  margin-left: 10px;
  background-image: url(images/ornament-right.png);
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.updated-hours .headline h3 {
    font-size: 1.75em;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.updated-hours .hours {
    display: flex;
    justify-content: space-between;
  }
}
body.page-template-covid-19 section.updated-hours .hours .entry + .entry {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.updated-hours .hours .entry + .entry {
    padding-top: 0;
  }
}
body.page-template-covid-19 section.updated-hours .hours .entry p {
  font-family: "Oldstyle", serif;
  font-size: 1rem;
  line-height: 1.5em;
}
body.page-template-covid-19 section.details .wrapper {
  max-width: 720px;
}
body.page-template-covid-19 section.details .detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body.page-template-covid-19 section.details .detail:before {
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  background: url(images/rule.png) no-repeat center center;
  margin: 50px 0;
}
body.page-template-covid-19 section.details .detail:last-of-type:after {
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  background: url(images/rule.png) no-repeat center center;
  margin: 50px 0;
}
body.page-template-covid-19 section.details .detail .photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.details .detail .photo {
    width: calc(40% - 25px);
  }
}
body.page-template-covid-19 section.details .detail .info {
  width: 100%;
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.details .detail .info {
    width: calc(60% - 25px);
    padding: 0;
  }
}
body.page-template-covid-19 section.details .detail .info .header h3 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 10px 0;
  font-size: 1.25em;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.details .detail .info .header h3 {
    font-size: 1.75em;
  }
}
body.page-template-covid-19 section.details .detail .info .body {
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.details .detail .info .body {
    padding: 0 0 20px 0;
  }
}
body.page-template-covid-19 section.details .detail .info .body p, body.page-template-covid-19 section.details .detail .info .body li {
  font-family: "Oldstyle", serif;
  font-size: 1rem;
  line-height: 1.5em;
}
body.page-template-covid-19 section.details .detail .info .body p + p, body.page-template-covid-19 section.details .detail .info .body p + ol, body.page-template-covid-19 section.details .detail .info .body li + p, body.page-template-covid-19 section.details .detail .info .body li + ol {
  padding-top: 10px;
}
body.page-template-covid-19 section.details .detail .info .body ol {
  counter-reset: li;
}
body.page-template-covid-19 section.details .detail .info .body ol li {
  padding-left: 20px;
  position: relative;
}
body.page-template-covid-19 section.details .detail .info .body ol li:before {
  counter-increment: li;
  content: counter(li) ") ";
  position: absolute;
  top: 0;
  left: 0;
}
body.page-template-covid-19 section.details .detail .info .body ol li + li {
  margin-top: 10px;
}
body.page-template-covid-19 section.details .detail .info .body ol + p {
  padding-top: 10px;
}
body.page-template-covid-19 section.details .detail .info .footer .link + .link {
  padding-top: 15px;
}
body.page-template-covid-19 section.details .detail .info .footer a {
  display: inline-block;
  text-transform: lowercase;
  font-family: "Oldstyle Italic", serif;
  font-size: 1.125em;
  font-weight: normal;
}
body.page-template-covid-19 section.details .detail .info .footer a:hover {
  text-decoration: underline;
}
body.page-template-covid-19 section.safety .wrapper {
  max-width: 720px;
}
body.page-template-covid-19 section.safety .headline h3 {
  font-family: "Highway Gothic Wide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 10px 0;
  font-size: 1.25em;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 section.safety .headline h3 {
    font-size: 1.75em;
  }
}
body.page-template-covid-19 section.safety .copy p, body.page-template-covid-19 section.safety .copy li {
  font-family: "Oldstyle", serif;
  font-size: 1rem;
  line-height: 1.5em;
}
body.page-template-covid-19 section.safety .copy p + p, body.page-template-covid-19 section.safety .copy p + ol, body.page-template-covid-19 section.safety .copy li + p, body.page-template-covid-19 section.safety .copy li + ol {
  padding-top: 10px;
}
body.page-template-covid-19 section.safety .copy ol {
  counter-reset: li;
}
body.page-template-covid-19 section.safety .copy ol li {
  padding-left: 20px;
  position: relative;
}
body.page-template-covid-19 section.safety .copy ol li:before {
  counter-increment: li;
  content: counter(li) ") ";
  position: absolute;
  top: 0;
  left: 0;
}
body.page-template-covid-19 section.safety .copy ol li + li {
  margin-top: 10px;
}
body.page-template-covid-19 section.safety .copy ol + p {
  padding-top: 10px;
}
body.page-template-covid-19 .flower {
  padding-top: 100px;
}
body.page-template-covid-19 .flower .photo {
  max-width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-covid-19 .flower .photo {
    max-width: 300px;
  }
}