section#banner {
	padding: 0 0 0.5rem 0;

	.banner-entry {
		& + .banner-entry {
			padding-top: 2px;
		}
	}

	a {
		display: block;
	}

	.mobile {
		display: block;

		@include tablet-portrait {
			display: none;
		}
	}

	.desktop {
		display: none;

		@include tablet-portrait {
			display: block;
		}
	}
}