#toggle {
    width: 40px;
    cursor: pointer;
    padding: 8px 0;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    z-index: 10001;

    @include tablet-portrait {
        display: none;
    }

    .patty {
        width: 40px;
        height: 2px;
        background: $slate;
        border-radius: 3px;
        transition: all 0.3s;
        margin-left: auto;

        &:after, &:before {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: $slate;
            position: absolute;
            z-index: 1;
            transition: all 0.3s;
            border-radius: 3px;
        }
        &:before {
            top: -8px;
        }
        &:after {
            top: 8px;
        }
    }
}