.logo {

    @include tablet-portrait {
        display: flex;
        justify-content: center;
        order: 1;
    }
    
    a {
        display: block;
    }

    .mobile {
        max-width: 15rem;

        @include mobile-landscape {
            display: none;
        }
    }

    .desktop {
        display: none;

        a {
            max-width: 18rem;			
        }

        @include mobile-landscape {
            display: block;
        }
    }
}