	nav {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		text-align: center;
		transition: all 0.5s ease-in;
        order: 4;

		& > a {
			display: block;
			padding: 15px 0;
			font-family: $highway-gothic-wide;
			text-transform: uppercase;
			font-size: 0.8125em;
			letter-spacing: 0.05em;
			color: $slate;

			&:hover {
				color: $red;
			}
		}

		@include tablet-portrait {
			max-height: auto;
			overflow: visible;
			display: flex !important;
			justify-content: center;
			padding: 2rem 0 0 0;

			a {
				font-size: 0.75em;
				padding: 0 15px;

				&:nth-of-type(2) {
					padding-left: 0;
				}
				&:last-of-type {
					padding-right: 0;
				}

				&.nav-home {
					display: none;
				}
			}
		}

		@include tablet-landscape {
			a {
				font-size: 0.8125em;
				padding: 0 20px;
			}
		}

		&.open {
			display: block;
			max-height: 600px;
            padding-top: 1rem;

			@include tablet-portrait {
                margin: 0;
                padding-top: 3rem;
			}
		}
	}