&.open {
    z-index: 10001;

    #toggle .patty {
        background: none;

        &:after {
            top: 0;
            transform: rotate(45deg);
        }
        &:before {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}