.order-online {
    display: flex;
    justify-content: center;
    gap: 2rem;
    order: 3;
    width: 100%;
    padding-top: 1rem;

    @include tablet-portrait {
        order: 2;
        width: auto;
        flex: 1;
        padding-top: 0;
    }

    .cta {
        a {
            font-size: 1rem;

            @include tablet-landscape {
                font-size: 1.25rem;
            }
        }
    }
}
