.social {
    &.mobile {
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        @include tablet-portrait {
            display: none;
        }
    }

    &.desktop {
        display: none;

        @include tablet-portrait {
            display: flex !important;
            order: 3;
        }

        @include tablet-landscape {
            width: 18rem;
            justify-content: flex-end;
        }
    }

    a {
        display: block;
        max-width: 1.25rem;

        & + a {
            margin-left: 1.25rem;
        }
    }
}