body {
    background: #fff;
    border: 10px solid $cream;
    min-height: 100vh;
}

.wrapper {
    @include wrapper-padding;
}

.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba($cream, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;

    &__off {
        display: none;
    }

    &__body {
        max-height: 90vh;
        overflow-y: scroll;
        background: $white;
        max-width: 48rem;
        padding: 2rem;
        box-shadow: 0 0 1rem rgba($black, 0.1);
        border-radius: 3px;
    }

    &__close {
        display: block;
        box-shadow: 0 0 0.5rem rgba($black, 0.1);
        z-index: 10;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -10px;
        right: -10px;
        background: $white;
        border-radius: 50%;
    }
}
