html,
input,
textarea {
    -webkit-font-smoothing: antialiased;
}
body {
    text-rendering: optimizeLegibility;
}

body,
input,
textarea,
button {
    color: $slate;
    font: 400 100%/1 $highway-gothic-narrow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $highway-gothic-narrow;
    font-weight: normal;
}

p {
}

a {
    color: $red;
    transition: all 0.3s ease-in-out;
}

.address {
    p {
        .th {
            font-size: 0.6125em;
            display: inline-block;
            transform: translateY(-5px);
        }

        .pipe {
            display: inline-block;
        }
    }
}

.cta {
    a {
        text-transform: lowercase;
        font-family: $oldstyle-italic;
        font-weight: bold;
        font-size: 1.25em;

        &:before {
            content: "[ ";
        }

        &:after {
            content: " ]";
        }
    }
}

.phone,
.email {
    a {
        color: $slate;
    }
}

.resy-link {
    span[role="button"] {
        background: unset !important;
        color: $red !important;
        width: unset !important;
        height: unset !important;
        &::before {
            content: "[ reservations ]";
            font-size: 1rem;
            text-transform: lowercase;
            font-family: $oldstyle-italic;
            font-weight: bold;

            @include tablet-landscape {
                font-size: 1.25rem;
            }
        }
    }
    iframe {
        position: absolute;
    }
}
