/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #231e21;
$black: #000;

$red: #d2232a;
$cream: #f7f3e7;
$green: #819fa2;



/* Typography
----------------------------------*/

@font-face {
    font-family: 'Highway Gothic Wide';
    src: url('fonts/highwaygothicwide.woff2') format('woff2'),
        url('fonts/highwaygothicwide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Highway Gothic Narrow';
	src: url("fonts/HWYGNRRW.eot?") format("eot"),
		url("fonts/HWYGNRRW.woff") format("woff"),
		url("fonts/HWYGNRRW.ttf") format("truetype"),
		url("fonts/HWYGNRRW.svg#highwaygothicnarrow") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OldStyle';
	src: url("fonts/OLDSH___.eot?") format("eot"),
		url("fonts/OLDSH___.woff") format("woff"),
		url("fonts/OLDSH___.ttf") format("truetype"),
		url("fonts/OLDSH___.svg#OldStyle1HPLHS") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oldstyle Italic';
	src: url("fonts/OLDSIH__.eot?") format("eot"),
		url("fonts/OLDSIH__.woff") format("woff"),
		url("fonts/OLDSIH__.ttf") format("truetype"),
		url("fonts/OLDSIH__.svg#OldstyleItalicHPLHS") format("svg");
	font-weight: normal;
	font-style: normal;
}


$highway-gothic-narrow: 'Highway Gothic Narrow', sans-serif;
$highway-gothic-wide: 'Highway Gothic Wide', sans-serif;
$oldstyle: 'Oldstyle', serif;
$oldstyle-italic: 'Oldstyle Italic', serif;