section#gallery-header {

	.gallery {
		display: grid;
		grid-gap: 15px;
		grid-template-rows: repeat(3, minmax(50px, 250px));
		grid-template-areas:
			"photo-1"
			"photo-2"
			"photo-3"
		;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: minmax(50px, 300px) minmax(50px, 225px) ;
			grid-template-areas:
				"photo-1 photo-1"
				"photo-2 photo-3"

			;

			.image-1 {
				grid-row: span 2;
			}
		}

		@include tablet-landscape {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: repeat(2, minmax(50px, 300px));
			grid-template-areas:
				"photo-1 photo-2"
				"photo-1 photo-3"
			;

			.image-1 {
				grid-row: span 1;
			}

			&.right {
				grid-template-columns: 1fr 2fr;
				grid-template-areas:
					"photo-2 photo-1"
					"photo-3 photo-1"
				;
			}
		}

		.image-1 {
			grid-area: photo-1;
		}

		.image-2 {
			grid-area: photo-2;
		}

		.image-3 {
			grid-area: photo-3;
		}

	}

}