section#newsletter {
    .wrapper {
        max-width: 640px;
    }

    .header {
        text-align: center;

        h3 {
            font-family: $highway-gothic-wide;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 1.125em;
            font-weight: bold;
            padding: 0 0 10px 0;
        }

        p {
            font-family: $oldstyle;
            font-size: 1em;
            line-height: 1.125em;

            a {
                color: $red;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .cta {
        text-align: center;
    }
}
