section#page-header {
	padding: 2rem 0;

	@include tablet-portrait {
		padding: 3rem 0;
	}

	.wrapper {
		display: flex;
		justify-content: center;
	}

	.image-wrapper {
		max-width: 200px;

		@include tablet-portrait {
			max-width: 100%;
		}
	}
}